$--font-path: "~element-plus/packages/theme-chalk/src/fonts";

$--font-size-base: 12px !default;
$--font-size-small: 10px !default;
$--size-base: 11px !default;
$--checkbox-font-size: 11px !default;
$--radio-font-size: 11px !default;